@import url('https://fonts.googleapis.com/css2?family=Mononoki&display=swap');

:root{
  --basic_black: #0F0F0F;
  --basic_black_a: hsla(0, 0%, 6%, 0.2);
  --basic_blue: #232D3F;
  --basic_green: #005B41;
  --basic_cyan: #008170;
}

*{ 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mononoki', monospace;
  font-size: 1.5rem;
}

body {
    background-color: var(--basic_blue);
  }
 
.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--basic_green);
    padding: 0.2em;
    color: var(--basic_blue);
    /* margin: 0.1em; */
  }

.main-container {
  display: flex;
  gap: 0.1em;
  color: var(--basic_blue);
  margin:  0.1em;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  width: 70vw;
  /* height: 100vh;   */
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  width: 30vw;
  height: 100vh;

}

.hdr {
  padding: 0.2em;
  background-color: var(--basic_green);
}

.menu {
  padding: 0.2em;
  background-color: var(--basic_green);
  height: 100%;
}

.canvas {
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  align-items:center;
  padding: 0.1em;
  background-color: var(--basic_green);
  height: 100%;  
  gap: 0.1em;
}

.login-container{
  justify-content:center;
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  width: 30%;
  /* background-color: var(--basic_green); */
  color: var(--basic_blue);
  padding: 0.2em;
}

/* .label{
  padding: 0.2em;
  background-color: var(--basic_green);

} */
.input{
  border:0;
  background-color: var(--basic_green);
  color: var(--basic_blue);
  padding: 0.2em;
}
.input::placeholder{
  color:var(--basic_black_a);
}

.button{
  border:0;
  background-color: var(--basic_green);
  color: var(--basic_blue);
  padding: 0.2em;
  cursor: pointer;
}

.button:active {
  background-color: var(--basic_black_a);
}

.link{
  color: var(--basic_blue);
  text-decoration: none;
}

.account {
  margin: 0.1em;
  width: 1em;
  height: 1em;
  background-color: var(--basic_blue);
}

.pixel-corners {
  clip-path: circle(50%);
}

.upload{
  width: 6em; 
  height: 6em;
  background-color: var(--basic_blue);
  color: var(--basic_green);
  border:0;
  cursor: pointer;
}

.img{
  max-width:6em;
  max-height:6em;
  width: auto;
  height: auto;
  cursor: pointer;

}

